Source: fcitx-config
Section: utils
Priority: optional
Maintainer: Weng Xuetian <wengxt@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libgtk2.0-dev (>= 2.10), fcitx (>= 4.0~beta1~r428), intltool
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/fcitx

Package: fcitx-config
Architecture: any
Depends: ${shlibs:Depends}
Description: Fcitx Config Tool
 Fcitx Config Tool with GTK Based GUI
