[Desktop Entry]
Exec=fcitx-config
GenericName[zh_CN]=Fcitx配置工具
GenericName=Fcitx Configuration Tool
Icon=fcitx-config
MimeType=
Name[zh_CN]=Fcitx配置
Name=Fcitx Config
StartupNotify=true
Type=Application
Categories=Settings;
